.container {
  margin: 1em;
  max-width: 320px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    padding-bottom: .5em;
    max-width: 315px;
  }
}

@media (min-width: 450px) {
  .gif-container {
    img {
      max-width: 450px;
    }
  }
}
