.gif-detail-container {
  padding: 0 1em;
  width: 35em;
  img {
    width: 100%;
  }
  .action-buttons {
    fa-icon {
      font-size: 1.3em;
      position: absolute;
      top: 0em;
      left: 0.65em;
    }
    fa-icon.facebook {
      color: #4267B2;
    }
    fa-icon.twitter {
      color: #1DA1F2
    }
  }
}
