.gif-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    padding-bottom: .5em;
    max-width: 315px;
  }
  .action-buttons {
    fa-icon {
      font-size: 1.3em;
      position: absolute;
      top: 0em;
      left: 0.65em;
    }
    fa-icon.facebook {
      color: #4267B2;
    }
    fa-icon.twitter {
      color: #1DA1F2
    }
  }
}

@media (min-width: 450px) {
  .gif-detail-container {
    img {
      max-width: 450px;
    }
  }
}
