<div fxLayoutAlign="center">
  <form *ngIf="searchForm" [formGroup]="searchForm" action="" (ngSubmit)="submitForm()" fxLayout="column">
    <div fxLayout="row" >
      <mat-form-field class="search-container" appearance="outline" >
        <input type="input" matInput formControlName="query" placeholder="Find me...">
        <mat-error *ngIf="searchForm.invalid">
          Cannot be empty!
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="searchForm.invalid" aria-label="search" class="search-button" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
</div>

<app-gifs-overview [formSubmitted]="submitted" [gifs]="gifs"></app-gifs-overview>
